{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div class="flex author w-full">
  {{ with .Site.Params.Author.image }}
    {{ $authorImage := "" }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $authorImage = resources.GetRemote . }}
    {{ else }}
      {{ $authorImage = resources.Get . }}
    {{ end }}
    {{ if $authorImage }}
      {{ $final := $authorImage }}
      {{ $squareImage := $authorImage }}
      {{ if not (or $disableImageOptimization (eq $authorImage.MediaType.SubType "svg")) }}
        {{ $final = $authorImage.Resize "300x" }}
        {{ $squareImage = $authorImage.Resize "800x" }}
      {{ end }}
      <img
        class="!mt-0 !mb-0 h-24 w-24 rounded-full me-4 shrink-0 self-center object-cover"
        style="object-position: center 10%;"
        width="96"
        height="96"
        alt="{{ $.Site.Params.Author.name | default "Author" }}"
        src="{{ $final.RelPermalink }}"
        data-zoom-src="{{ $squareImage.RelPermalink }}">
    {{ else }}
      {{ $authorImage := resources.GetRemote . }}
      {{ $final := $authorImage }}
      {{ $squareImage := $authorImage }}
      {{ if not $disableImageOptimization }}
        {{ $final = $authorImage.Resize "300x" }}
        {{ $squareImage = $authorImage.Resize "800x" }}
      {{ end }}
      <img
        class="!mt-0 !mb-0 h-24 w-24 rounded-full me-4 shrink-0 self-center object-cover"
        style="object-position: center 10%;"
        width="96"
        height="96"
        alt="{{ $.Site.Params.Author.name | default "Author" }}"
        src="{{ $final.RelPermalink }}"
        data-zoom-src="{{ $squareImage.RelPermalink }}">
    {{ end }}
  {{ end }}
  <div class="place-self-center flex-1 min-w-0">
    {{ with .Site.Params.Author.name | markdownify }}
      <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
        {{ . }}
      </div>
    {{ end }}
    {{ with .Site.Params.Author.bio | markdownify }}
      <div class="text-sm text-neutral-700 dark:text-neutral-400 mt-1 max-w-[570px] text-left" style="text-align: left; max-width: 570px;">{{ . }}</div>
    {{ end }}
  </div>
</div>
