{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div class="flex author w-full items-center" style="display: flex; align-items: center; gap: 2rem;">
  {{ with .Site.Params.Author.image }}
    {{ $authorImage := "" }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $authorImage = resources.GetRemote . }}
    {{ else }}
      {{ $authorImage = resources.Get . }}
    {{ end }}
    {{ if $authorImage }}
      {{ $final := $authorImage }}
      {{ $squareImage := $authorImage }}
      {{ if not (or $disableImageOptimization (eq $authorImage.MediaType.SubType "svg")) }}
        {{ $final = $authorImage.Resize "300x" }}
        {{ $squareImage = $authorImage.Resize "800x" }}
      {{ end }}
      <img
        class="!mt-0 !mb-0 h-24 w-24 rounded-full shrink-0 self-center object-cover"
        style="object-position: center 10%; margin-right: 1.75rem;"
        width="96"
        height="96"
        alt="{{ $.Site.Params.Author.name | default "Author" }}"
        src="{{ $final.RelPermalink }}"
        data-zoom-src="{{ $squareImage.RelPermalink }}">
    {{ else }}
      {{ $authorImage := resources.GetRemote . }}
      {{ $final := $authorImage }}
      {{ $squareImage := $authorImage }}
      {{ if not $disableImageOptimization }}
        {{ $final = $authorImage.Resize "300x" }}
        {{ $squareImage = $authorImage.Resize "800x" }}
      {{ end }}
      <img
        class="!mt-0 !mb-0 h-24 w-24 rounded-full shrink-0 self-center object-cover"
        style="object-position: center 10%; margin-right: 1.75rem;"
        width="96"
        height="96"
        alt="{{ $.Site.Params.Author.name | default "Author" }}"
        src="{{ $final.RelPermalink }}"
        data-zoom-src="{{ $squareImage.RelPermalink }}">
    {{ end }}
  {{ end }}
  <div class="flex-1 min-w-0 pe-2 sm:pe-3" style="padding-left: 0.5rem;">
    {{ with .Site.Params.Author.name | markdownify }}
      <div class="text-base sm:text-lg font-bold leading-6 text-neutral-800 dark:text-neutral-200">
        {{ . }}
      </div>
    {{ end }}
    {{ with .Site.Params.Author.bio | markdownify }}
      <div class="text-xs sm:text-sm text-neutral-600 dark:text-neutral-300 mt-1.5 leading-relaxed w-full max-w-full" style="text-align: justify; text-justify: inter-word;">{{ . }}</div>
    {{ end }}
  </div>
</div>
