<div class="main-menu flex items-center w-full gap-2 p-1 pl-0 notranslate" translate="no">
  {{ if .Site.Params.Logo }}
    {{ $logo := resources.Get .Site.Params.Logo }}
    {{ if $logo }}
      <div class="flex items-center">
        <a href="{{ "" | relLangURL }}" class="flex items-center notranslate nav-logo-link" translate="no" title="{{ .Site.Title | markdownify }}">
          <span class="sr-only">{{ .Site.Title | markdownify }}</span>
          {{ if eq $logo.MediaType.SubType "svg" }}
            <span class="logo cyber-nav-logo object-scale-down object-left nozoom">
              {{ $logo.Content | safeHTML }}
            </span>
          {{ else }}
            <img
              src="{{ $logo.RelPermalink }}"
              width="{{ div $logo.Width 2 }}"
              height="{{ div $logo.Height 2 }}"
              class="logo cyber-nav-logo object-scale-down object-left nozoom"
              alt="{{ .Site.Title | markdownify }}">
          {{ end }}
        </a>
      </div>
    {{ else }}
      <div class="flex items-center">
        <a href="{{ "" | relLangURL }}" class="flex items-center notranslate nav-logo-link" translate="no" title="{{ .Site.Title | markdownify }}">
          <span class="sr-only">{{ .Site.Title | markdownify }}</span>
          <img
            src="{{ .Site.Params.Logo | relURL }}"
            class="logo cyber-nav-logo object-scale-down object-left nozoom"
            alt="{{ .Site.Title | markdownify }}">
        </a>
      </div>
    {{ end }}
  {{ end }}
  {{ if not .Site.Params.disableTextInHeader | default true }}
    <a href="{{ "" | relLangURL }}" class="text-base font-medium truncate min-w-0 shrink notranslate" translate="no">
      {{ .Site.Title | markdownify }}
    </a>
  {{ end }}
  <div class="flex items-center ms-auto notranslate" translate="no">
    <div class="hidden md:flex notranslate" translate="no">
      {{ partial "header/components/desktop-menu.html" . }}
    </div>
    <div class="flex md:hidden notranslate" translate="no">
      {{ partial "header/components/mobile-menu.html" . }}
    </div>
  </div>
</div>

{{ if .Site.Menus.subnavigation }}
  <nav id="main-menu" aria-label="{{ i18n "nav.main_menu" }}" class="notranslate" translate="no">
    <div
      class="main-menu flex pb-3 flex-col items-end justify-between md:justify-start space-x-3 notranslate {{ if .Site.Params.Logo }}
        -mt-[15px]
      {{ end }}"
      translate="no">
      <div class="hidden md:flex items-center space-x-5 notranslate" translate="no">
        {{ range .Site.Menus.subnavigation }}
          <a
            href="{{ .URL }}"
            {{ if or (strings.HasPrefix .URL "http:" ) (strings.HasPrefix .URL "https:" ) }}
              target="_blank"
            {{ end }}
            class="flex items-center bf-icon-color-hover notranslate"
            translate="no">
            {{ if .Pre }}
              <span {{ if and .Pre .Name }}class="mr-1"{{ end }}>
                {{ partial "icon.html" .Pre }}
              </span>
            {{ end }}
            <span class="text-xs font-light notranslate" title="{{ .Title }}" translate="no">
              {{ .Name | markdownify }}
            </span>
          </a>
        {{ end }}
      </div>
    </div>
  </nav>
{{ end }}

{{ if .Site.Params.highlightCurrentMenuArea }}
  <script>
    (function () {
      var mainmenu = document.querySelector(".main-menu");
      if (!mainmenu) return;

      var path = window.location.pathname;
      var links = mainmenu.querySelectorAll('a[href="' + path + '"]');

      links.forEach(function (link) {
        var targets = link.querySelectorAll("span");
        targets.forEach(function (el) {
          el.classList.add("active");
        });
      });
    })();
  </script>
{{ end }}
